/* ==============================================
 ブロック
=============================================== */
/* 枠
----------------------------------------------- */
#cart_area, #category_area {
  border: 1px solid #ccc;
  padding: 14px 10px;
  margin-bottom: 8px;
  border-radius: 3px;
}
