#undercolumn_error {
  .message_area {
    width: 60%;
    margin: 20px auto 0;
    text-align: center;
    border: 1px solid $theme_color;
    height: 160px;
    padding: 30px 0;
    border-radius: 3px;
  }
}
