#wrap_footer {
  height: 40px;
  background: $theme_color;
  div, a {
    color: $theme_color_text;
  }
}

#pagetop {
  width: 210px;
  float: right;
  text-align: right;
}

#copyright {
  width: 740px;
  float: left;
  text-align: left;
  font-size: 97%;
}
